@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/* Global classes */
button,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/*typography classes*/
.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-raleway {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

/*color template*/
.color-primary {
  color: #003859;
}

.color-primary-bg {
  background: #003859;
}

.color-secondary {
  color: #00a5c4;
}

.color-secondary-bg {
  background: #00a5c4;
}

.color-yellow {
  color: #ffd289;
}

.color-yellow-bg {
  background: #ffd289;
}

/* top-sale template*/
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
  transition: transform 0.2s ease;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev:hover,
#top-sale .owl-carousel .owl-nav button.owl-next:hover {
  transform: scale(1.05);
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
  transition: transform 0.2s ease;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

/*special price*/
#special-price .grid .grid-item {
  margin-top: 1rem;
  margin-right: 1.2rem;
}

/*login css*/
.card-signin {
  border: 0;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-reset .btn {
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.login-input {
  border-radius: 2rem;
}

.login-container {
  min-height: 80vh;
}

.login-go-to {
  color: rgba(0, 0, 0, 0.7);
  width: fit-content;
}

.login-go-to:hover {
  text-decoration: none;
  color: #00a5c4;
}

/*register css*/
.card-register {
  border: 0;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-register .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-register .card-body {
  padding: 2rem;
}

.form-register {
  width: 100%;
}

.form-register .btn {
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.register-go-back {
  color: rgba(0, 0, 0, 0.7);
  width: fit-content;
}

.register-go-back:hover {
  text-decoration: none;
  color: #00a5c4;
}

/*style of admin.html and staff.html*/
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

/*style of product-form.html and staff-form.html*/
.form-style-8 {
  font-family: "Open Sans Condensed", arial, sans;
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style-8 h2 {
  background: lightblue;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.form-style-8 input[type=ID],
.form-style-8 input[type=CategoryID],
.form-style-8 input[type=ImageFile],
.form-style-8 input[type=Name],
.form-style-8 input[type=Description],
.form-style-8 input[type=Price],
.form-style-8 input[type=Os],
.form-style-8 input[type=Ram],
.form-style-8 input[type=Monitor],
.form-style-8 input[type=Mouse],
.form-style-8 input[type=Storage],
.form-style-8 input[type=CPU],
.form-style-8 input[type=GPU],
.form-style-8 input[type=PSU],
.form-style-8 input[type=Amount],
.form-style-8 input[type=UpdatedDate],
.form-style-8 input[type=UpdatedBy],
.form-style-8 input[type=IsDeleted],
.form-style-8 input[type=Discount],
.form-style-8 input[type=QuantitySold],
.form-style-8 textarea,
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.form-style-8 textarea {
  resize: none;
  overflow: hidden;
}

.form-style-8 input[type=button],
.form-style-8 input[type=submit] {
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #2CBBBB;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.form-style-8 input[type=button]:hover,
.form-style-8 input[type=submit]:hover {
  background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
  background-color: #34CACA;
}

/*# sourceMappingURL=style.css.map */
