@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/* Global classes */
button,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/*typography classes*/
.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-raleway {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

/*color template*/
.color-primary {
  color: #003859;
}

.color-primary-bg {
  background: #003859;
}

.color-secondary {
  color: #00a5c4;
}

.color-secondary-bg {
  background: #00a5c4;
}

.color-yellow {
  color: #ffd289;
}

.color-yellow-bg {
  background: #ffd289;
}

/* top-sale template*/
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
  transition: transform 0.2s ease;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev:hover,
#top-sale .owl-carousel .owl-nav button.owl-next:hover {
  transform: scale(1.05);
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
  transition: transform 0.2s ease;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

/*special price*/
#special-price .grid .grid-item {
  margin-top: 1rem;
  margin-right: 1.2rem;
}

/*login css*/
.card-signin {
  border: 0;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-reset .btn {
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.login-input {
  border-radius: 2rem;
}

.login-container {
  min-height: 80vh;
}

.login-go-to {
  color: rgba(0, 0, 0, 0.7);
  width: fit-content;
}

.login-go-to:hover {
  text-decoration: none;
  color: #00a5c4;
}

/*register css*/
.card-register {
  border: 0;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-register .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-register .card-body {
  padding: 2rem;
}

.form-register {
  width: 100%;
}

.form-register .btn {
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.register-go-back {
  color: rgba(0, 0, 0, 0.7);
  width: fit-content;
}

.register-go-back:hover {
  text-decoration: none;
  color: #00a5c4;
}

/*style cart page*/
@media screen and (min-width: 1400px) {
  .cart-img {
    height: 175px;
  }

  .cart-img img {
    height: 100%;
  }

  .qty {
    width: 50%;
    margin: auto;
  }
}
/*Style setting page*/
.avt-modal {
  margin-bottom: 1rem;
  width: 300px;
  height: auto;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.side_panel_tab {
  color: black;
}

.side_panel_tab.active,
.side_panel_tab:hover,
.side_panel_tab.active:focus,
.side_panel_tab.active:hover {
  color: #00a5c4 !important;
}

.input_check {
  padding: 10px 5px;
}

.input_imgs {
  display: block;
  overflow: hidden;
}

.imgs-label {
  overflow: hidden;
}

div.form-group input.error {
  border: 2px dashed red;
  background: #fee;
}

div.form-group label.error {
  color: red;
  font-size: 1rem;
  width: 100%;
  margin-top: 10px;
}

.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid blue;
  border-right: 7px solid green;
  border-bottom: 7px solid red;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
